[Unit]
Description=Flowgency Dashboard
After=network-online.target

[Service]
Type=simple
ExecStart=/path/to/flowgency/.venv/bin/python3 -m flowgency.app
Restart=always
WorkingDirectory=/path/to/flowgency
Environment=HOME=/path/to/home

[Install]
WantedBy=default.target
